body {
	background-image:url("");
	background-color: #dddddd;
}

#etabs {
	clear: both;
	width: 350px;
	margin-top: 5px;
	text-align: center;
}

.left-img-2 {
	border-left: solid 2px #ffffff !important;
}

.right-img-2 {
	border-right: solid 2px #ffffff !important;
}

#etabs .tabs img {
	height: 53px;
	width: 53px;
	border: solid 1px #ffffff;
	border-top: solid 2px #ffffff;
	border-bottom: solid 2px #ffffff;
}

#etabs .tabs {
	height: 57px;
	margin: auto;
}

#etabs .items {
	margin: 0px 9px 0px 9px;
	background-color: #ffffff;
	border: solid 2px #ffffff;
	border-top: 0px;
	height: 164px;
	overflow: hidden;
}

#etabs .items .grid {
	line-height: 0px;
	text-align: left;
}

#etabs .items .grid img {
	height: 80px;
	width: 80px;
	margin: 1px;
}

#buttons {
	margin: auto;
	width: 332px;
	text-align: center;
	margin-top: 5px;
}


#buttons button[type="button"] {
	height: 35px;
	width: 293px;
	border: 0px;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	letter-spacing: -2px;
	color: #222222;
	float: left;
	margin-right: 4px;
	border-bottom: solid 3px #aaaaaa;
}

.reset {
	width: 35px;
	height: 35px;
	float: left;
}