body {
	background-image:url("");
	background-color: #dddddd;
}

#info {
	width: 350px;
}

#info .exp {
	margin-left: 10px;
	width: 100px;
	line-height: 12px;
	display: inline-block;
	font-family: 'Patua One', cursive;
	font-size: 16px;
	float: left;
	text-align: left;
}

#info .exp-txt {
	clear: both;
	text-align: right;
	line-height: 13px;
	font-family: 'Patua One', cursive;
	font-size: 13px;
	margin-right: 12px;
	padding-top: 2px;
	padding-bottom: 10px;
}

#info .exp-bar {
	margin-left: 5px;
	height: 10px;
	background-color: #cccccc;
	border: solid 1px #ffffff;
	width: 225px;
	float: left;
}

#info .gold {
	margin-left: 5px;
	line-height: 14px;
	display: inline-block;
	font-family: 'Patua One', cursive;
	font-size: 16px;
	text-align: left;
	float: left;
	margin-right: 12px;
	margin-top: -2px;
}

.money {
	width: 225px;
	float: left;
	height: 16px;
}

.mons {
	width: 100px !important;
	margin-top: -1px;
}

.coin {
	height: 12px;
	width: 12px;
	float: left;
	margin-left: 5px;
}