body {
	background-image:url("");
	background-color: #dddddd;
}

#money {
	height: 25px;
	width: 350px;
}

#money img {
	border: solid 1px #ffffff;
	float: left;
	margin-left: 20px;
	height: 10px;
	width: 10px;
	margin-top: 7px;
}

#money .arrow {
	width: 63px;
	float: left;
	margin-left: 10px;
	text-align: left;
	padding-left: 10px;
	font-size: 25px;
	height: 25px;
}

#money .gold {
	margin-left: 5px;
	width: 90px;
	line-height: 25px;
	display: inline-block;
	font-family: 'Patua One', cursive;
	font-size: 18px;
	text-align: right;
	float: left;
}

#etabs {
	clear: both;
	width: 350px;
	margin-top: 5px;
	text-align: center;
}

.left-img-2 {
	border-left: solid 2px #ffffff !important;
}

.right-img-2 {
	border-right: solid 2px #ffffff !important;
}

#etabs .tabs img {
	height: 53px;
	width: 53px;
	border: solid 1px #ffffff;
	border-top: solid 2px #ffffff;
	border-bottom: solid 2px #ffffff;
}

#etabs .tabs {
	height: 57px;
	margin: auto;
}

#etabs .items {
	margin: 0px 9px 0px 9px;
	background-color: #ffffff;
	border: solid 2px #ffffff;
	border-top: 0px;
	height: 137px;
	overflow: hidden;
	border-bottom: solid 4px #ffffff;
}

#etabs .items .grid {
	line-height: 0px;
	text-align: left;
}

#etabs .items .grid img {
	height: 105px;
	width: 105px;
	margin: 2px;
}

#buttons {
	margin: auto;
	width: 332px;
	text-align: center;
	margin-top: 5px;
}


#buttons button[type="button"] {
	height: 35px;
	width: 293px;
	border: 0px;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	border-bottom: solid 3px #aaaaaa;
	font-size: 22px;
	letter-spacing: -2px;
	color: #222222;
	float: left;
	margin-right: 4px;
}

.reset {
	width: 35px;
	height: 35px;
	float: left;
}